@font-face {
  font-family: 'Inter Light';
  src: url("../fonts/Inter-Light.woff2")
}

@font-face {
  font-family: 'Inter Regular';
  src: url("../fonts/Inter-Regular.woff2")
}

@font-face {
  font-family: 'Inter Medium';
  src: url("../fonts/Inter-Medium.woff2")
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url("../fonts/Inter-SemiBold.woff2")
}

@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}



body {
  font-family: 'Inter Light';
  max-width: 1920px;
}

main {
  width: 70%;
  margin: 0 auto;
  @include smallerMedia {
    width: 84%;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline-width: thin;
  outline-style: dotted;
  outline-color: pink;
}