@import "mediasizes";

.introSection {
  padding-top: 1rem;
  margin-bottom: 2rem;

  @include smallerMedia {
    padding-top: 0.2rem;
  }

  p { margin-top: 0.2rem; }
}


.projectsSection {
  margin-top: 1rem;
  outline: none;
}