@mixin smallerMedia {
  @media (max-width: 660px) {
    @content;
  }
}

.introSection {
  padding-top: 1rem;
  margin-bottom: 2rem;

  @include smallerMedia {
    padding-top: 0.2rem;
  }

  h1 {
    margin-bottom: 0;
    font-family: 'Inter SemiBold';  
  }

  p { margin-top: 0.2rem; }
}

.projectsSection {
  margin-top: 1rem;

  h2 {
    font-family: 'Inter Regular';
    margin-bottom: 1em;
    text-decoration: underline;
  }
}