%noSelect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

.projectTitleContainer {
  width: 80%;
  max-height: fit-content;
  min-height: 3em;
  margin-bottom: 2em;
  margin-top: 0em;
}

.projectTitleContainer:hover .title {
  // font-size: 1.3em;
  text-shadow: 1px 1px #ff65c4d5;
}

.title {
  @extend %noSelect;
  cursor: default;
  width: fit-content;
  margin-bottom: 0.3rem;
}

.description {
  @extend %noSelect;
  margin: 0;
  font-size: 0.9em;
}

.techList {
  @extend %noSelect;
  margin: 0.5rem 0 1rem;
}

.tech {
  display: inline-block;
  width: fit-content;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  margin: 0 0.3em;
  border: 0.5px solid rgb(204, 204, 204);
  border-radius: 0.3em;
}

.tech:hover {
  background-color: rgb(255, 225, 230);
  border-color: pink;
}

.tech:first-of-type {
  margin-left: 0;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////                expanded project                ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

.expandedProject {
  display: inline-block;
  background-color: pink;
  height: 10em;
}