@import "mediasizes";

$projects-horiz-offset: -6em;

%noSelect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

%regularCursor {
  cursor: default;
}

%offsetTitleShadow {
  margin-bottom: -0.12rem;
}

/////////////////////////////////////////////////////////////////////////////

.topContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: $projects-horiz-offset;
  height: fit-content;
}

.projectTitleContainer, .projectTitleContainerSelected {
  width: 80%;
  max-height: fit-content;
  min-height: 3em;
  margin: 1em 0 1em 1em;
  border-radius: 0.5em;
  float: left;

  @include mediumMedia {
    width: 100%;
    font-size: 0.95em;
    line-height: 1.1rem;
    margin-left: 0;
  }
}

.projectTitleContainer:hover .title, .projectTitleContainer:focus .title {
  margin-bottom: 0.2rem;
  text-shadow: 0px 5px #ff58bfd5;
  @extend %offsetTitleShadow;
}

.title {
  // @extend %noSelect;
  @extend %regularCursor;
  width: fit-content;
  margin: 0.2rem 0;
}

.description {
  // @extend %noSelect;
  @extend %regularCursor;
  margin: 0.5rem 0 0;
  font-size: 0.9em;
}

.techList {
  // @extend %noSelect;
  @extend %regularCursor;
  margin: 0.5rem 0 0;

  .tech {
    display: inline-block;
    width: fit-content;
    font-size: 0.8em;
    padding: 0.3em 0.4em;
    margin: 0 0.4em 0.4em;
    color: rgb(66, 66, 66);
    border-bottom: 1px solid rgb(182, 182, 182);
  
    &:hover {
      position: relative;
      top: -1px;
      background-color: rgb(255, 238, 241);
      border-bottom-color: rgb(255, 146, 146);
    }
  
    &:first-of-type {margin-left: 0;}
  } 
}


///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////                project cursor                  ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

.cursorContainer {
  width: 5rem;
  height: 3rem;
  float: left;
  margin-top: 0.63rem;

  .cursor {
    width: 100%;
    height: 100%;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////                expanded project                ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

%focusVisible {
  outline-width: thin;
  outline-style: dashed;
  outline-color: rgb(255, 101, 126);
  outline-offset: 0.8em;
}

.projectTitleContainer:focus, .projectTitleContainerSelected:focus {
  @extend %focusVisible
}

.projectTitleContainerSelected .title{
  text-shadow: 0px 4px 2px #f828a8d5;
  font-size: 1.3em;
  @extend %offsetTitleShadow;
}

.expandedProject {
  display: flex;
  justify-content: flex-start;
  min-height: fit-content;
  width: 80%;
  padding: 0.4rem;

  position: relative;
  left: -$projects-horiz-offset;
  margin-bottom: 1rem;

  animation-name: fade;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
}

@keyframes fade {
  from {position: relative; top: -1rem; opacity: 0.3}
  to {position: relative; top: 0; opacity: 1}
}

.imgContainer {
  width: 70%;
  max-height: 500px;
  display: inline-block;

  img {
    max-width: 100%;
    max-height: 500px;
  }
}

.buttonList {
  @extend %noSelect;
  margin-left: 1em;

  .linkButton {
    width: 3rem;
    padding: 0.5rem 0.6rem;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    color: red;

    &:hover {
      color: black;
      background-color: rgb(255, 164, 180);
      border-bottom: 0.5px solid black;
      margin-bottom: 0.45rem;
    }

    &:focus {
      @extend %focusVisible;
      @extend .linkButton:hover;
      outline-style: dotted;
      outline-offset: 0.05rem;
    }
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////                  smaller media                 ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

@media (max-width: $mediumMediaSize) {
  .cursorContainer {
    display:none;
  }
  
  .topContainer {
    left: 0;
  }

  .expandedProject {
    width: 100%;
    display: block;
    padding: 0;
    left: 0;
    margin-top: 0.6em;

    .imgContainer {
      width: 95%;
      max-width: 530px;
    }

    .buttonList {
      margin-left: 0;
      display: flex;

      .linkButton {
        padding-right: 1em;
        width: fit-content;
        margin: 0.5em 1em 0.5em 0;
      }
    }

  }
}