%noSelect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

%regularCursor {
  cursor: default;
}

%offsetTitleShadow {
  margin-bottom: -0.12rem;
}

%projectTitleContainerStyles {
  width: 80%;
  max-height: fit-content;
  min-height: 3em;
  margin-bottom: 2em;
  margin-top: 0em;
  border-radius: 0.5em;
}

.projectTitleContainer, .projectTitleContainerSelected {
  @extend %projectTitleContainerStyles;
}

.projectTitleContainer:hover .title, .projectTitleContainer:focus .title {
  font-size: 1.3em;
  text-shadow: 0px 5px #ff58bfd5;
  @extend %offsetTitleShadow;
}

.title {
  // @extend %noSelect;
  @extend %regularCursor;
  width: fit-content;
  margin-bottom: 0.3rem;
}

.description {
  // @extend %noSelect;
  @extend %regularCursor;
  margin: 0.5rem 0 0;
  font-size: 0.9em;
}

.techList {
  // @extend %noSelect;
  @extend %regularCursor;
  margin: 0.5rem 0 1rem;
}

.tech {
  display: inline-block;
  width: fit-content;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  margin: 0 0.3em 0.4em;
  border: 0.5px solid rgb(204, 204, 204);
  border-radius: 0.3em;
}

.tech:hover {
  position: relative;
  top: -1px;
  background-color: rgb(255, 238, 241);
  border-color: rgb(255, 224, 230);
}

.tech:first-of-type {
  margin-left: 0;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////                expanded project                ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////

%focusVisible {
  outline-style: dashed;
  outline-color: rgb(255, 101, 126);
  outline-offset: 0.8em;
}

.projectTitleContainer:focus, .projectTitleContainerSelected:focus {
  @extend %focusVisible
}

.projectTitleContainerSelected .title{
  text-shadow: 0px 4px 2px #f828a8d5;
  font-size: 1.3em;
  @extend %offsetTitleShadow;
}

.expandedProject {
  display: flex;
  justify-content: flex-start;
  min-height: fit-content;
  width: 80%;
  padding: 0.4rem;
}

.imgContainer {
  max-width: 70%;
  max-height: 500px;
  display: inline-block;
}

.imgContainer img {
  max-width: 100%;
  max-height: 500px;
}

.buttonList {
  @extend %noSelect;
  margin-left: 1em;
}

.linkButton {
  border: 0.5px solid rgb(204, 204, 204);
  border-radius: 0.45rem;
  padding: 0.5rem 0.6rem;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 1em;

  background-color: rgb(238, 63, 92);
}