.headerTitle {
  margin: 0;
  display: inline;
}

.headerList {
  float: right;
  list-style: none;
}

.headerLink {
  display: inline-block;
  margin-right: 1rem;
}

.twitterLogoContainer {
  border-radius: 2px;
  display: block;
  padding-top: 3.5px;
  box-sizing: border-box;
}

.twitterLogo {
  margin: auto;
  display: block;
}